* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}*/
header{
    width: 100%;
    height: 55px;
    background-color: black;
    position: fixed;
    opacity: 0.7;
    z-index: 10;
 img {
    width: 100px;
    height: 45px;
    margin-left: 190px;
    margin-top: 7px;
}
}
header nav {
    float: right;
    margin-right: 25px;
    padding-top: 15px;
}
header nav a {
    margin-left: 23px;
    font-size: 20px;
    text-decoration: none;
    color: goldenrod;
    position: relative;
   
}
nav a:after{
    content: "";
    position: absolute;
    width: 0;
    height:0;
    left: 0;
    bottom: 0;
    opacity: 0;
    margin-bottom: -5px;
}
nav a:hover::after{
    width: 100%;
    height: 4px;
    opacity: 1;
    transition: 0.5s;
    background-color: whitesmoke;
}
.blog_post{
    width: 90px;
    height: 35px;
    margin-top: 40px;
    background-color:goldenrod;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    margin-right: 20px;
    opacity: 0;
    color: black;
    padding-top: 3px;
}
.blog:hover .blog_post{
    opacity: 1;
}
.hero {
    background-image: url(../images/photo.jpg);
    background-repeat:no-repeat ;
    height: 100vh;
    background-size: 100% 100%;
    text-align: center;
}
.overlay {
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.hero h1 {
    color: rgba(211, 164, 45, 0.849);
    padding-top: 150px ;
    font-size: 35px;
}
.hero p {
    color: white;
    font-size: 20px;
    padding-top: 45px;
}
.hero button {
    width: 130px;
    height: 40px;
    margin-top: 60px;
    font-size: 17px;
} 
.hover-opacity:hover {
    opacity: 0.7;
}
.btn1 {
    background-color: goldenrod;
}
/*****************/
.sec2 {
    height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 5%;
}
.sec2 h1 {
    font-size: 30px ;
}
.welcom {
    text-align: center;
    overflow: hidden;
}

.sec2 h2{
 padding-top: 5px;
 padding-bottom: 5px;
 width: 100%;
}
.sec2 p{
    padding-bottom: 7px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 20px;
    color: grey
}


.div2 {
   width: 28%;
    height: 200px;
    border: 1px solid lightgray;
    float: left;
    position: relative;
    padding-top: 20px;
    margin: 90px 0;
    margin-left: 100px;
    margin-right: 30px;
    
    
}
.div3 {
    width: 28%;
    height: 200px;
    border: 1px solid lightgray;
    float: left;
    position: relative;
    margin: 40px;
    padding-top: 20px;
    margin: 90px auto;
}
.div4 {
   width: 28%;
    height: 200px;
    border: 1px solid lightgray;
    float: left;
    position: relative;
    margin: 90px 30px;
    padding-top: 20px;
}
.after0{
    z-index: 5;
}
.after0:after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
   
}
.after0:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 1s;
}
.after0:hover h2{
    color: white;
}

.li1 ,.li2 , .li3 {
   font-size: 25px;
   color: goldenrod;
}
.sec2 a{
    text-decoration: none;
    font-size: 20px;
    color: goldenrod;
}

/*******************/
.sec3{
    height: 140vh;
    background-color: whitesmoke;
    text-align: center;
    padding: 5%; 
}

.sec3 h2 {
    font-size: 30px;
    text-align: center;
}
.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
   
}
.featured-parent  {
    width: 26%;
    height: 45%;
    border: 1px solid lightgray;
    padding-top: 20px;
    margin: 20px;
    background-color: white;
    position: relative;
    
}
.featured img {
    width: 90%;
    height: 95%;
}
.featured-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: visible;
    transition: opacity 1s;
}
.featured-info {
    position: absolute;
    width: 80%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
   text-align: center;
}
.featured-content:hover{
    visibility: visible;
    opacity: 1;
}
.featured-info a {
    position: relative;
    top: 15px;
   
}
.featured-info i {
    font-size: 25px;
    color: white;
    display: inline-block;
    background-color: goldenrod;
    width: 40px;
    line-height: 38px;
}
.featured-info h2 {
    font-size: 25px;
   color: goldenrod;
}
.featured-info p {
    font-size: 25px;
    color:#fff;
}
  
/*************/
.sec4{
    height: 100vh;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 5%; 
}
.sec4 h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
}
.offer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
   
}
.offer div {
    width: 28%;
    height: 40%;
    border: 1px solid lightgray;
    padding-top: 20px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
   
}
.after00{
    z-index: 5;
}
.after00:after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
   
}
.after00:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: 1s;
}
.after00:hover h3{
    color: white;
}

.offer i {
  font-size: 30px;
  color: goldenrod;
  padding-top: 5px;
  padding-left: 10px;

}
.offer h3 {
   font-size: 25px;
   text-align: center;
   float:right;
  margin-right: 80px;
}
.offer p {
    float: right;
    font-size: 20px;
    margin-top: 20px;
    width: 90%;
    margin-right: 15px;
    color: grey;

}
/******************/
.sec5{
     width: 100%;
    background-color: whitesmoke;
    padding: 5%; 
    justify-content: space-between;
    display: flex;
    flex-wrap:wrap ;
}
.sec5 h2 {
    font-size: 30px;
}
.sec5 .div00 {
    width: 60px;
    height: 4px;
    background-color: goldenrod;
    margin-left: 5px;
}
.left {
    width: 50%;
}
.left p {
    margin-top: 20px;
    font-size: 20px;
    color: grey;
}
.sec5 ul {
    list-style: none;
    margin-top: 15px;
    color: grey;
}
.sec5 i {
    margin-top: 10px;
    font-size: 20px;
    color: goldenrod;
}
.right {
    width: 50%;
    display: flex;
}
.right  div .img1 {
    width: 95%;
    height: 300px;
    margin-top: 65px;
    margin-left:5px ;
   
}
.right  div .img2 {
    width: 90%;
    height: 300px;
    margin-top: 40px;
    margin-left:20px ;
   
   
}
.right  div .img3 {
    width: 90%;
    height: 300px;
    margin-top: 65px;
    margin-left:23px ;
   
}

/**************/
.sec6 {
    width: 100%;
    
}
.sec6 .parent ,.parent2 {
    width: 100%;
    height: 50vh;
    background-image: url(../images/photo9.jpg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
   
    
}
.overlay2 , .overlay3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}
.container ,.container2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div5 ,.div6 ,.div7 ,.div8 {
    width: 20%;
    margin-top: 80px;
    margin-left: 20px;
   padding-top: 10px;

}
.div5 {
    margin-left: 100px;
}

.sec6 div i {
    font-size: 30px;
    margin-left: 30px;
    padding-left: 3px;
    color: goldenrod;
}
.sec6 h3 {
    color: white;
    margin-top: 10px;
    margin-left: 35px;
}
.sec6 span {
   color: white;
    font-size: 20px;
    padding-top: 10px;
   
}
/*****************/
.sec7 {
    padding: 3%;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.sec7 h2 {
    font-size: 30px;
}
.pricing {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    padding-top: 17px;
}

.pricing-item {
  width: 25%;
  border: 1px solid gray;
  text-align: center;
  position: relative;
  z-index: 5;
}
.pricing-item:after {
    position: absolute;
    content: "";
    width:100%;
    height: 0;
    top:0;
    left: 0;
    opacity: 0;
    background-color: black;
  }
  .pricing-item:hover::after{
      width: 100%;
      height: 100%;
      opacity: 0.7;
      transition: 1s;
      z-index: -1;
  }
  .pricing-item:hover .pricing-hover{
    color:goldenrod;
  }
.pricing h3 {
    padding: 7px;
    font-size: 25px;
}

.pricing article {
    padding-top: 20px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    border: 2px solid darkgoldenrod;
    margin: 12px auto;
}
.pricing span {
    font-size: 35px;
  
}

.pricing p {
    padding: 2%;
    color: grey;
    font-size: 17px;
}
.pricing button {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    border: 2px solid darkgoldenrod;
    margin-bottom: 15px;
    font-size: 15px;
}
/*****************/
.sec8 {
    height: 70vh;
    width: 100%;
}
.left2 ,.right2 {
    width: 50%;
}
.left2  img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-left: 100px;
}
.left2  div{
    display: flex;
    padding-top: 50px;
}
.article1 {
    margin: 20px ;
    
}
.left2 p {
    margin: 15px 100px;
    font-size: 20px;
    color: white;
    width: 50%;
}

.right2  img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin-left: 100px;
}
.right2  div{
    display: flex;
    padding-top: 50px;
}
.article1 {
    margin: 20px ;
    
}
.article1 h2 {
    color: white;
}
.article1 h3 {
    color: goldenrod;
}
.right2 p {
    margin: 15px 100px;
    font-size: 20px;
    color: white;
    width: 50%;
}
/*******************/
.sec9 {
    height: 100vh;
    width: 100%;
    padding: 3%;
}
.title1{
    text-align: center;
    font-size: 35px;
}
.div0{
    width: 65px;
    height: 4px;
    background-color: goldenrod;
    margin: auto;
}
.team-container{
    width: 85%;
    margin: auto;
   margin-top: 25px;
   
}
.team-parent{
 overflow: hidden;
}
.team-item{
   float: left;
   width: 30%;
   background:lightgray;
   text-align: center;
   padding: 18px 14px;
   position: relative;
}
.center2{
    margin: 0px 5%;
}
.team-img{
    width: 85%;
    margin: auto;
    position: relative;
}
.team-img img {
    width: 100%;
}
.team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    visibility: hidden;
}
.team-item:hover .team-overlay{
    visibility: visible;
}
.team-overlay a {
     display: block;
     width: 40px;
     height: 40px;
     background-color:goldenrod;
     color: white;
     margin-left:auto ;
}
.team-overlay a i {
    line-height: 40px;
}
.team-info-title{
    color: #222;
    padding: 11px 0;
}
.team-info-p {
    color: grey;
    text-transform: uppercase;
    font-size: 19px;
}
.team-item:hover .team-info-title{
    color: #fff;
}
.team-item:hover .team-info-p {
    color: goldenrod;
}
.team-item:after {
  position: absolute;
  content: "";
  width:100%;
  height: 0;
  top:0;
  left: 0;
  opacity: 0;
  background-color: black;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: 1s;
}

/************************/
.sec10 {
    height: 100vh;
    width: 100%;
    padding: 3%;
}
.sec10 h2{
    text-align: center;
    font-size: 35px;
}
.news-container{
    width: 85%;
    margin: auto;
   margin-top: 25px;
   
}
.news-item {
   float: left;
   width: 30%;
   padding: 18px 14px;
   position: relative;
   margin-left: 15px;
   background-color: whitesmoke;

}
.news-info {
    padding-left: 15px;
}
.news-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 70px;
   
}
.news-list i {
    color: goldenrod;
    
    padding-top: 15px;
}
.news-img img {
    width: 250px;
    height: 300px;
    margin-left: 20px;
}
.news-info h3 {
    padding-top: 10px;
    padding-left: 5px;
    
}
.news-info p {
    padding-top: 15px;
    width: 70%;
    padding-left: 5px;
    padding-bottom: 15px;
    color: rgb(82, 82, 82);
    font-size: 18px;
}
.news-info a {
    padding-left: 5px;
    text-decoration: none;
    color: darkgoldenrod;
   font-size: 20px;
}
.news-item:after {
    position: absolute;
    content: "";
    width:100%;
    height: 0;
    top:0;
    left: 0;
    opacity: 0;
    background-color: black;
  }
  .news-item:hover::after{
      width: 100%;
      height: 100%;
      opacity: 0.6;
      transition: 1s;
  }
/*******************/
.sec11{
    width: 100%;
    height: 50vh;
    padding-top: 5%;
}
footer {
    width: 100%;
    height: 40vh;
    background-color:black;
    text-align: center;
}
.sec11 img {
    width: 160px;
    height: 105px;
    border-radius: 50%;
    margin-top: 10px;
}
footer p{
    color: #fff;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 5px;
}
.icons i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: goldenrod;
    color: white;
    font-size: 30px;
    padding: 10px 9px;
    margin-top: 20px;
}
.icons i:hover{
    opacity: 0.9;
}

